.wrapper {
    margin-left: 250px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    overflow: hidden; /* Ngăn việc hiển thị cuộn dọc */
}
.DivScrollWrapper {
    padding: 0px 32px 104px;
    list-style: none;
    // height: calc(-60px + 100vh);
    height: 100%;
    width: 100%;
    min-width: 500px;
    overflow: hidden;
}
.DivFeedTabContainer {
    position: relative;
    height: 38px;
    // width: calc(-336px + 100vw);
    width: 100%;
    min-width: 500px;
    margin: 24px 0px 16px;
}
.DivDirectionButtonContainer {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    position: absolute;
    top: 0px;
    left: -30px;
    z-index: 1;
    transition: opacity 0.2s ease-out;
    opacity: 1;
    width: 60px;
    height: 100%;
    background: linear-gradient(270.11deg, rgba(255, 255, 255, 0) 0.09%, rgb(255, 255, 255) 100.83%);
}
.DivChevronIconContainer {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 2px;
    border-radius: 50%;
    padding: 0px 11px 0px 6px;
    width: 32px;
    height: 32px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px 0px;
    cursor: pointer;
    transform: translateZ(0px) rotate(180deg);
    transition: transform 0.2s ease-out;
    &:hover {
        transform: translateZ(0px) scale(1.08, 1.08);
    }
}
.chevron-icon {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
}
.DivFeedTabItemListWrapper {
    overflow-x: auto; /* Cho phép cuộn ngang */
    scroll-behavior: smooth; /* Tạo hiệu ứng cuộn mượt mà */
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    overflow-x: auto;
    width: 100%;
    height: 100%;
    gap: 10px;
    white-space: nowrap;
    scrollbar-width: none;

    .link-button {
        cursor: pointer !important;
        display: inline-flex;
        height: 100%;
        padding: 9px 12px;
        border-radius: 8px;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        background-color: rgba(22, 24, 35, 0.06);
        color: rgb(22, 24, 35);
        cursor: pointer;
        font-weight: 500;
        font-size: 14px;
        user-select: none;
        text-decoration: none;
        transition: color, background-color, transform 0.2s ease-out;
        transform: translateZ(0px);
    }
}
.primary-button-onpage {
    background-color: var(--primary-button-onpage);
}
.DivDirectionButtonRightContainer {
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    position: absolute;
    top: 0px;
    right: -20px;
    z-index: 1;
    transition: opacity 0.2s ease-out;
    opacity: 1;
    width: 60px;
    height: 100%;
    background: linear-gradient(270.11deg, rgb(255, 255, 255) 0.09%, rgba(255, 255, 255, 0) 100.83%);
}
.DivChevronRightIconContainer {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 2px;
    border-radius: 50%;
    padding: 0px 11px 0px 6px;
    width: 32px;
    height: 32px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px 0px;
    cursor: pointer;
    transform: translateZ(0px);
    transition: transform 0.2s ease-out;
    &:hover {
        transform: translateZ(0px) scale(1.08, 1.08);
    }
}
.chevron-right-icon {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-items: center;
    white-space: nowrap;
}
.DivFeedsContainer {
    overflow: hidden;
    position: relative;
    margin: 0px 0px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 12px;
    width: 100%;
    max-width: 1100px;
}
.DivAdaptiveFeedsWrapper {
    width: 100%;
    aspect-ratio: 2.26446 / 1;
}
.DivSwiperContainer {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    position: relative;
    background: var(--black);
}
.DivSwiper {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 300%;
    transition-timing-function: ease-in-out;
    transition-duration: 0ms;
    transition-property: transform;
    left: 0px;
    top: 0px;
    flex: 1;
}
.DivSwiperEventArea {
    // width: calc(100% - 30px);
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    display: block;
    z-index: 0;
    left: 0px;
    top: 0px;
    opacity: 1;
}
.DivSwiperContent {
    width: 792px;
    height: 786px;
    flex: 1;
    overflow: visible;
    opacity: 1;
    z-index: 1;
    position: relative;
    overflow-anchor: none;
    object-fit: cover;
}
.DivFeedCard {
    overflow: visible;
    position: relative;
    width: 100%;
    height: 100%;
}
.DivBgContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    overflow: visible;
    user-select: none;
    background-size: cover; /* Hoặc 'contain' nếu bạn muốn ảnh hiển thị toàn bộ mà không bị cắt */
    background-position: center; /* Đảm bảo ảnh căn giữa trong phần tử */
    background-repeat: no-repeat; /* Ngăn ảnh lặp lại */
}
// .DivBgImg {
//     position: absolute;

//     min-height: 100%;
//     width: 100%;
//     transform: translate3d(-50%, -50%, 0px) scale(1.1, 1.1);
//     z-index: 1; /* Tăng z-index */
//     filter: none; /* Tạm thời loại bỏ filter */
// }
// .ImageBasic {
//     width: 100%;
//     height: 100%;
//     overflow: visible;
// }
.link-button {
    flex: none; /* Đảm bảo các nút không co lại */
    margin-right: 8px; /* Khoảng cách giữa các nút */
    background-color: var(--white);
    &:hover {
        text-decoration: none;
        background-color: rgba(22, 24, 35, 0.1);
        color: rgb(22, 24, 35);
    }
}
.DivDivider {
    height: 1px;
    margin: 48px 0px 44px;
    background-color: rgba(22, 24, 35, 0.2);
}
// -------------------
.DivSectionsContainer {
    width: 100%;
}
.DivSectionContainer {
    width: 100%;
    margin-top: 0px;
}
.DivSectionHeader {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}
.DivSectionTitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    color: var(--black);
}
.DivSectionViewMore {
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: rgba(22, 24, 35, 0.6);
}
.DivBasicRowContainer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    gap: 36px 24px;
    margin-top: 24px;
    cursor: pointer !important;
}
// ------------- RESPONSIVE ++++++++++++=
@media (min-width: 1130px) {
    .DivBasicRowContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 50px) {
    .DivBasicRowContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}
.DivCardContainer {
    transition: color, background-color, transform 0.2s ease-out;
    overflow: hidden;
    transform: translateZ(0px);
}
.DivLiveContentArea {
    position: relative;
    height: 0px;
    width: 100%;
    padding-bottom: 56.25%;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}
.DivLiveTagWrapper {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    top: 12px;
    z-index: 1;
    left: 12px;
}
.DivLiveTag {
    display: flex;
    margin-inline-start: 0px;
    padding: 0px 6px;
    height: 20px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 4px 0px 0px 4px;
    background: linear-gradient(131deg, rgb(255, 23, 100) 0%, rgb(237, 52, 149) 94.15%);
    color: rgb(255, 255, 255);
    font-family: 'IBM Plex Sans', Arial, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}
.DivLiveViewer {
    color: var(--white);
    display: flex;
    height: 20px;
    padding: 0px 4px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 0px 4px 4px 0px;
    gap: 4px;
    background: rgba(0, 0, 0, 0.5);
}
.DivLiveViewerNum {
    font-family: 'IBM Plex Sans', Arial, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}
.DivImgWrapper {
    position: absolute;
    opacity: 1;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background: transparent;
}
.Image-basic {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
}
.StyledHoverLink {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    z-index: 5;
    text-decoration: none;
    background: transparent;
    &:visited {
        color: rgba(22, 24, 35, 1);
    }
}

.DivLiveInfo {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 16px;
    width: 100%;
}
.ImgUserAvatar {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    cursor: pointer;
}
.StyledLinkLiveTextArea {
    display: block;
    width: calc(100% - 32px);
    cursor: pointer;
    text-decoration: none;
    margin-left: 12px;
    &:visited {
        color: rgba(22, 24, 35, 1);
    }
}
.DivLiveTitle {
    width: 100%;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 36px;
    color: rgb(22, 24, 35);
    font-family: 'IBM Plex Sans', Arial, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}
.DivUserName {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(22, 24, 35, 0.6);
    font-family: 'IBM Plex Sans', Arial, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}
// ---------------------------------------------Danh mục đề xuất++++++++++++++++++++++++++++++++++++++++++++++++++
// // ------------- RESPONSIVE ++++++++++++=

@media (min-width: 1142px) {
    .DivBasicRowContainer1 {
        grid-template-columns: repeat(6, 1fr);
    }
}
@media (min-width: 980px) {
    .DivBasicRowContainer1 {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (min-width: 798px) {
    .DivBasicRowContainer1 {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 50px) {
    .DivBasicRowContainer1 {
        grid-template-columns: repeat(3, 1fr);
    }
}

.DivBasicRowContainer1 {
    display: grid;
    direction: wrap;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 26px;
    margin-top: 24px;
}
.DivCategoryCardContainer1 {
    width: 100%;
    height: 100%;
    transition: color, background-color, transform 0.2s ease-out;
    transform: translate3d(0px, 0px, 0px);
    cursor: pointer;
    overflow: hidden;
    position: relative;
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.05);
    }
}
.DivCategoryCardImgResponsive1 {
    height: 0px;
    width: 100%;
    padding-bottom: 135.14%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}
.DivCategoryCardImgWrapper1 {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
    &.img1 {
        overflow: hidden;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        object-fit: cover;
    }
}

.DivCategoryCardTitle1 {
    display: -webkit-box;
    width: 100%;
    margin-top: 8px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: rgb(22, 24, 35);
    font-family: 'IBM Plex Sans', Arial, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}
.DivCategoryCardViewer1 {
    width: 100%;
    margin-top: 4px;
    color: rgba(22, 24, 35, 0.6);
    font-family: 'IBM Plex Sans', Arial, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
.StyledHoverLink1 {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    z-index: 5;
    text-decoration: none;
    background: transparent;
    &:hover {
        text-decoration: none;
    }
}
.ButtonIconContainer {
    position: fixed;
    bottom: -32px;
    z-index: 10;
    border: none;
    outline: none;
    padding: 0px;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    color: var(--white);
    background: rgb(254, 44, 85);
    box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 8px;
    transition: transform 0.4s cubic-bezier(0.2, 0.54, 0.55, 1.54);
    right: 24px;
    transform: translate3d(0px, -40px, 0px);
}
