.wrapper {
    width: 280px;
    height: 280px;
    padding: 8px 0;
    overflow: auto;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    background-color: rgb(255, 255, 255);
    padding-inline-end: 4px;
    left: -25px;

    &::before {
        content: '';
        border-width: 20px 20px;
        border-style: solid;
        border-color: var(--white) transparent transparent transparent;
        position: absolute;
        left: 4px;
        bottom: -28px;
        white-space: nowrap;
        overflow: hidden;
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -8px;
        right: 0;
        width: 56%;
        height: 8px;
    }
}
.share-items {
    padding: 11px 16px;
    margin: 0 3px 0 4px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}
.share-preview-text {
    margin-left: 12px;
}
