.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 100%;
    margin-top: var(--default-layout-header-height);
    width: var(--default-layout-width);
    display: flex;
    padding: 0 var(--default-layout-horizontal-spacer);
}
// .side-bar {
//     position: absolute !important;
// }
.content {
    flex: 1;
    overflow-y: auto;
}
