// .buttons-container {
//     position: inherit;
//     display: flex;
//     flex-direction: column; /* Thay đổi hướng sang dọc */
//     justify-content: center; /* Căn giữa các phần tử theo chiều dọc */
//     align-items: center; /* Căn giữa các phần tử theo chiều ngang */
//     gap: 10px; /* Khoảng cách giữa các phần tử */
//     top: 10%;
//     right: 40%;
// }
.share-preview {
    background-color: rgb(255, 255, 255);
    padding-inline-end: 4px;
    left: -25px;
}
.buttons-container {
    top: 70px;
    right: -75px;
    position: absolute;
    align-items: center; /* Căn giữa các phần tử theo chiều ngang */
    gap: 20px; /* Khoảng cách giữa các phần tử */
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-end;
    height: 395px;
    width: 50px;
    padding-top: 10px;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
}

.more-icon {
    top: 18%;
    right: 1px;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    color: var(--white);
    background: var(--primary);
    padding: 3px 6px;
    border-radius: 50%;
    cursor: pointer;
}
.followed-icon {
    z-index: 100;
    top: 18%;
    right: 1px;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    color: var(--primary);
    background: var(--white);
    padding: 3px 6px;
    border-radius: 50%;
    cursor: pointer;
}

.button-items {
    border-radius: 50%;
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 4px 0 4px 0;
    cursor: pointer;
}
.button-liked {
    position: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0px;
    top: 4px;
    transition: all 200ms ease-in-out 0s;
    color: var(--primary);
    width: 48px;
    height: 48px;
    margin-top: 8px;
    margin-bottom: 6px;
}
.button-saved {
    position: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0px;
    top: 4px;
    transition: all 200ms ease-in-out 0s;
    color: orange;
    width: 48px;
    height: 48px;
    margin-top: 8px;
    margin-bottom: 6px;
}
.button-item {
    position: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0px;
    top: 4px;
    transition: all 200ms ease-in-out 0s;

    width: 48px;
    height: 48px;
    margin-top: 8px;
    margin-bottom: 6px;
}
.data-video {
    position: inherit;
    font-weight: 600;
    color: #575551;
    // height: 21px;
    margin-top: 17px;
}
