.wrapper {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
    padding-top: 16px;
    padding-left: 8px;
}
.reward-coin {
    padding-right: 8px;
    height: 50px;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}
.reward-container {
    position: relative;
    box-sizing: border-box;
    width: 208px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.reward-img {
    height: 52px;
    border-radius: 8px;
    display: block;
    user-select: none;
}
.reward-content {
    left: 50px;
    text-align: start;
    width: inherit;
    position: absolute;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 70%;
}

.reward-text {
    max-height: 40px;
    overflow: hidden;
    width: 100%;

    h4 {
        color: rgb(255, 245, 201);
        font-size: 13px;
        font-weight: 700;
        line-height: 16px;
        margin: 0px;
        font-family: var(--font-family);
    }
}

//
.contacts {
    position: relative;
    margin-top: 15px;
    color: var(--contact-color);
}
.contact-title {
    font-size: 1.5rem;

    line-height: 2.2rem;
    font-weight: 700;
    font-family: var(--font-family);
}
.contact-items {
    margin-bottom: 8px;
}
.contacts a,
.contacts span {
    color: var(--contact-color);
    font-weight: 500;
    line-height: 16px;
    font-size: 1.3rem;
    display: inline-block;
    margin-right: 6px;
    margin-top: 5px;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}
